@tailwind base;
@tailwind components;

html {
    scroll-behavior: smooth;
}
.container {
    border: 1px solid red;
}

/* Set the size of the div element that contains the map */
#map {
    height: 500px;
    margin-top: 4rem !important;
}

@tailwind utilities;
